:root
{
	color: white;
}



.main
{
	background-color: #272727;
	width: 50vw;
        height: 50vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 2px 2px 5px 2px black;

}
.container
{

    position: relative;
    top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    margin: 0 0 0 0;
	padding: 2rem;
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(3,1fr);
       justify-items:center;
       align-items: center;
}


.color
{
   
	grid-column: span 1;
}

.picker_text
{
	grid-column: span 2;
}

.text
{
	grid-column: 1/-1;
}
@media all and (max-width: 600px)
{

.container
{
	font-size: 0.85rem;
    margin: 0 0 0 0;
	display: grid;
	grid-template-columns: 1fr;
}
}

.hidden
{
	 display: none;
	 grid-row-start: 4;
	 grid-column: 1/-1; 
	
}
.picker_text
{
	grid-column: span 1;
}


@media all and (min-width: 900px)
{
	.main
	{
		width: 45vw;
	}
}
